<ma-get-point-value ng-repeat="(key, value) in points" point="value"></ma-get-point-value>
<md-card flex="">
<div layout="column">
	<md-toolbar class="md-hue-3">
	<div class="md-toolbar-tools" ng-bind="'Ekipman Gorunum'"></div>
	</md-toolbar>
	<md-card-content> <span>{{aspFanAnimTime=(300-(2*points.aspfanspeed.value
		| number:0));""}}</span> <span>{{vanFanAnimTime=(300-(2*points.vanfanspeed.value
		| number:0));""}}</span> <span>{{tamburAnimTime=320;""}}</span> 
		<wi-svg ng-include="$ctrl.diagram"> <!-- Fan Animation Section -->
	<div ma-selector="#Fan1_1"
		ng-style="{'animation' : points.aspfanspeed.value ? 'fanRotate ' + aspFanAnimTime + 'ms linear ' + (aspFanAnimTime/5)*0 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Fan1_2"
		ng-style="{'animation' : points.aspfanspeed.value ? 'fanRotate ' + aspFanAnimTime + 'ms linear ' + (aspFanAnimTime/5)*1 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Fan1_3"
		ng-style="{'animation' : points.aspfanspeed.value ? 'fanRotate ' + aspFanAnimTime + 'ms linear ' + (aspFanAnimTime/5)*2 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Fan1_4"
		ng-style="{'animation' : points.aspfanspeed.value ? 'fanRotate ' + aspFanAnimTime + 'ms linear ' + (aspFanAnimTime/5)*3 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Fan1_5"
		ng-style="{'animation' : points.aspfanspeed.value ? 'fanRotate ' + aspFanAnimTime + 'ms linear ' + (aspFanAnimTime/5)*4 + 'ms infinite' : 'unset'}"></div>

	<div ma-selector="#Fan2_5"
		ng-style="{'animation' : points.vanfanspeed.value ? 'fanRotate ' + vanFanAnimTime + 'ms linear ' + (vanFanAnimTime/5)*0 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Fan2_4"
		ng-style="{'animation' : points.vanfanspeed.value ? 'fanRotate ' + vanFanAnimTime + 'ms linear ' + (vanFanAnimTime/5)*1 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Fan2_3"
		ng-style="{'animation' : points.vanfanspeed.value ? 'fanRotate ' + vanFanAnimTime + 'ms linear ' + (vanFanAnimTime/5)*2 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Fan2_2"
		ng-style="{'animation' : points.vanfanspeed.value ? 'fanRotate ' + vanFanAnimTime + 'ms linear ' + (vanFanAnimTime/5)*3 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Fan2_1"
		ng-style="{'animation' : points.vanfanspeed.value ? 'fanRotate ' + vanFanAnimTime + 'ms linear ' + (vanFanAnimTime/5)*4 + 'ms infinite' : 'unset'}"></div>

	<!-- Tambur Animation Section -->
	<div ma-selector="#Tambur_01"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*0 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_02"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*1 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_03"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*2 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_04"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*3 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_05"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*4 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_06"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*5 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_07"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*6 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_08"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*7 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_09"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*8 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_10"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*9 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_11"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*10 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_12"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*11 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_13"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*12 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_14"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*13 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_15"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*14 + 'ms infinite' : 'unset'}"></div>
	<div ma-selector="#Tambur_16"
		ng-style="{'animation' : points.igkstatus.value ? 'tamburRotate ' + tamburAnimTime + 'ms linear ' + (tamburAnimTime/8)*15 + 'ms infinite' : 'unset'}"></div>
	<!-- Sensor Values -->
	<div ma-selector="#Text_sptemp tspan:nth-child(1)"
		ng-bind="points.sptemp.renderedValue"></div>
	<div ma-selector="#Text_sppressure tspan:nth-child(1)"
		ng-bind="points.sppressure.renderedValue"></div>
	<div ma-selector="#Text_rtntemp tspan:nth-child(1)"
		ng-bind="points.rtntemp.renderedValue"></div>
	<div ma-selector="#Text_rtnpressure tspan:nth-child(1)"
		ng-bind="points.rtnpressure.renderedValue"></div>
	<div ma-selector="#Text_outairfilterpress tspan:nth-child(1)"
		ng-bind="points.outfilterpressure.renderedValue"></div>
	<div ma-selector="#Text_returnairfilterpress tspan:nth-child(1)"
		ng-bind="points.rtnfilterpressure.renderedValue"></div>
	<div ma-selector="#Text_outairhum tspan:nth-child(1)"
		ng-bind="points.outairhum.renderedValue"></div>
	<div ma-selector="#Text_outairtemp tspan:nth-child(1)"
		ng-bind="points.outairtemp.renderedValue"></div>
	<div ma-selector="#Text_spairflow tspan:nth-child(1)"
		ng-bind="points.spairflow.renderedValue"></div>
	<div ma-selector="#Text_outairflow tspan:nth-child(1)"
		ng-bind="points.outairflow.renderedValue"></div>

	<!-- Fan -->
	<div ma-selector="#Bar_aspfanspeed"
		ng-attr-stroke-dashoffset="{{((100-points.aspfanspeed.value)/100)*220}}"></div>
	<div ma-selector="#Text_aspfanspeed tspan"
		ng-bind="points.aspfanspeed.value | number:1"></div>

	<div ma-selector="#Bar_vanfanspeed"
		ng-attr-stroke-dashoffset="{{((100-points.vanfanspeed.value)/100)*220}}"></div>
	<div ma-selector="#Text_vanfanspeed tspan"
		ng-bind="points.vanfanspeed.value | number:1"></div>

	<!-- Electric Heater -->
	<div ma-selector="#ehstatus3 > path"
		ng-style="{'fill' : points.eh3status.value ? '#4e9d4e' : '#aaaaaa'}"></div>
	<div ma-selector="#ehstatus2 > rect"
		ng-style="{'fill' : (points.eh3status.value || points.eh2status.value) ? '#4e9d4e' : '#aaaaaa'}"></div>
	<div ma-selector="#ehstatus1 > path"
		ng-style="{'fill' : (points.eh3status.value || points.eh2status.value || points.eh1status.value) ? '#4e9d4e' : '#aaaaaa'}"></div>

	<div ma-selector="#Device_ehoffstatus3" ng-if="!points.eh3status.value"></div>
	<div ma-selector="#Device_ehoffstatus2"
		ng-if="!(points.eh3status.value || points.eh2status.value)"></div>
	<div ma-selector="#Device_ehoffstatus1"
		ng-if="!(points.eh3status.value || points.eh2status.value || points.eh1status.value)"></div>

	<!-- DX Heater-Cooler -->
	<div ma-selector="#Text_dxstatus text tspan"
		ng-bind="points.dxmode.renderedValue"
		ng-style="{'fill' : points.dxmode.value == 1 ? 'red' : points.dxmode.value == 2 ? '#266fcf'  : '#838383'}"></div>
	<div ma-selector="#DX_off" ng-if="points.dxmode.value == 0"></div>
	<div ma-selector="#DX_heating" ng-if="points.dxmode.value == 1"></div>
	<div ma-selector="#DX_cooling" ng-if="points.dxmode.value == 2"></div>

	<!-- Damper & Heat Recovery Wheel -->
	<div ma-selector="#Text_dampopen text tspan"
		ng-bind="points.dampopen.renderedValue"
		ng-style="{'fill' : points.dampopen.value ? '#25a500' : 'gray'}"></div>
	<div ma-selector="#Text_igkstatus text tspan"
		ng-bind="points.igkstatus.renderedValue"
		ng-style="{'fill' : points.igkstatus.value ? '#25a500' : 'gray'}"></div>
	<div ma-selector="#Ellipse_tambur"
		ng-style="{'fill' : points.igkstatus.value ? 'green' : '#6e6e6e'}"></div>

	<div ma-selector="#Led_unitstatus circle:nth-child(2)"
		ng-style="{'fill' : points.unitstatus.renderedValue == 'ON' ? 'lime' : 'none'}"></div>
	<div ma-selector="#Text_unitswstatus text tspan"
		ng-bind="points.unitswstatus.renderedValue"
		ng-style="{'fill' : points.unitswstatus.value == 1 ? '#25a500' : points.unitswstatus.value == 2 ? 'gray' : 'red'}"></div>
	<div ma-selector="#Text_unitmode text tspan"
		ng-bind="points.unitmode.renderedValue"
		ng-style="{'fill' : points.unitmode.value == 1 ? '#25a500' : points.unitmode.value == 2 ? '#9ff190' : '#266fcf'}"></div>
	<div ma-selector="#Text_commerror text tspan"
		ng-bind="points.commerror.renderedValue"
		ng-style="{'fill' : points.commerror.renderedValue == 'Normal' ? '#25a500' : 'red'}"></div>

	<!-- Alarms -->
	<div ma-selector="#Maint_rtnfilteralarm"
		ng-if="points.rtnfilteralarm.value" class="ot-throb-opacity"></div>
	<div ma-selector="#Maint_spfilteralarm1"
		ng-if="points.spfilteralarm1.value" class="ot-throb-opacity"></div>
	<div ma-selector="#Maint_spfilteralarm2"
		ng-if="points.spfilteralarm2.value" class="ot-throb-opacity"></div>

	<!--Unit Status Table-->
	<div ma-selector="#Led_unitstatus path:nth-child(2)"
		ng-style="{'fill' : points.unitstatus.value ? 'lime' : 'none'}"></div>
	<div ma-selector="#Text_sumwintmode text tspan"
		ng-class="'table-value'" ng-bind="points.sumwintmode.renderedValue"></div>
	<div ma-selector="#Text_acttempset text tspan" ng-class="'table-value'"
		ng-bind="points.acttempset.renderedValue"></div>
	<div ma-selector="#Text_genalarm text tspan" ng-class="'table-value'"
		ng-bind="points.genalarm.renderedValue"
		ng-style="{'fill' : points.genalarm.renderedValue == 'Normal' ? '#25a500' : 'red'}"></div>
	</wi-svg> </md-card-content>
</div>
</md-card>
<div layout="column">
	<div layout="row">
		<md-card flex="">
		<div layout="column">
			<md-toolbar class="md-hue-3">
			<div layout="row" layout-align="start start">
				<div class="md-toolbar-tools" ng-bind="'Cihaz Calisma Durumu'"></div>
			</div>
			</md-toolbar>
			<md-card-content>
			<div layout="column" layout-align="start start">
				<div flex="">
					<ma-point-value enable-popup="right" label="NAME"
						flash-on-change="true" point="points.acttempset" />
					</ma-point-value>
				</div>

				<div flex="">
					<ma-point-value enable-popup="right" label="NAME"
						flash-on-change="true" point="points.unitstatus" />
					</ma-point-value>
				</div>
				<div flex="" style="margin-top: -13px; margin-bottom: 25px;">
					<md-button ng-click="points.onoffset.setValue(0)" class="md-raised"
						ng-class="points.unitstatus.value == 1 ? 'success-button' : ''"
						ng-disabled="points.unitstatus.value == 1"> <md-icon
						class="material-icons" style="margin-right: 5px" role="img"
						aria-hidden="true"> power_settings_new</md-icon>{{points.unitstatus.value
					== 1 ? "Acik" : "Ac"}} </md-button>
					<md-button ng-click="points.onoffset.setValue(1)" class="md-raised"
						ng-class="points.unitstatus.value == 0 ? 'muted-button' : ''"
						ng-disabled="points.unitstatus.value == 0"> <md-icon
						class="material-icons" style="margin-right: 5px" role="img"
						aria-hidden="true"> power_off</md-icon>{{points.unitstatus.value
					== 0 ? "Kapali" : "Kapat"}} </md-button>
				</div>
			</div>

			<div layout="column" layout-align="start start">
				<div flex="">
					<ma-point-value enable-popup="right" label="NAME"
						flash-on-change="true" point="points.sumwintmode" />
					</ma-point-value>
				</div>
				<div flex="" style="margin-top: -13px; margin-bottom: 25px;">
					<md-button ng-click="points.sumwintset.setValue(0)"
						class="md-raised"
						ng-class="points.sumwintmode.value == 0 ? 'success-button' : ''"
						ng-disabled="points.sumwintmode.value == 0"> <md-icon
						class="material-icons" style="margin-right: 5px" role="img"
						aria-hidden="true"> wb_sunny</md-icon>{{points.sumwintmode.value
					== 0 ? "Yaz" : "Yaz"}} </md-button>
					<md-button ng-click="points.sumwintset.setValue(1)"
						class="md-raised"
						ng-class="points.sumwintmode.value == 1 ? 'success-button' : ''"
						ng-disabled="points.sumwintmode.value == 1"> <md-icon
						class="material-icons" style="margin-right: 5px" role="img"
						aria-hidden="true"> ac_unit</md-icon>{{points.sumwintmode.value ==
					1 ? "Kis" : "Kis"}} </md-button>
				</div>
			</div>
			</md-card-content>
		</div>
		</md-card>
		<md-card flex="">
		<div layout="column">
			<md-toolbar class="md-hue-3">
			<div layout="row" layout-align="start start">
				<div class="md-toolbar-tools" ng-bind="'Set Noktalari'"></div>
				<div>
					<md-button class="md-icon-button md-primary" ng-click="test=true"
						ng-show="!test" aria-label="Setleme"> <md-icon
						class="material-icons" role="img" aria-hidden="true">edit</md-icon>
					</md-button>
					<md-button class="md-icon-button md-warn" ng-click="test=false"
						ng-show="test" aria-label="Setleme"> <md-icon
						class="material-icons" role="img" aria-hidden="true">edit_off</md-icon>
					</md-button>
				</div>
			</div>
			</md-toolbar>
			<md-card-content>
			<div layout="column" layout-align="start start">
				<div flex="" ng-show="points.sumcomfactset">
					<ma-point-value label="NAME" flash-on-change="true"
						point="points.sumcomfactset" />
					</ma-point-value>
				</div>
				<div flex="" ng-show="points.sumcomfset">
					<ma-point-value label="NAME" point="points.sumcomfset"
						ng-show="!test"> </ma-point-value>
					<ma-set-point-value label="NAME" point="points.sumcomfset"
						ng-show="test"> </ma-set-point-value>
				</div>

				<div flex="" ng-show="points.wintcomfactset">
					<ma-point-value label="NAME" flash-on-change="true"
						point="points.wintcomfactset" />
					</ma-point-value>
				</div>
				<div flex="" ng-show="points.wintcomfset">
					<ma-point-value label="NAME" point="points.wintcomfset"
						ng-show="!test"> </ma-point-value>
					<ma-set-point-value label="NAME" point="points.wintcomfset"
						ng-show="test"> </ma-set-point-value>
				</div>

			</div>
			</md-card-content>
		</div>
		</md-card>

		<md-card flex="">
		<div layout="column">
			<md-toolbar class="md-hue-3">
			<div layout="row" layout-align="start start">
				<div class="md-toolbar-tools" ng-bind="'Limit Noktalari'"></div>
				<div>
					<md-button class="md-icon-button md-primary" ng-click="test2=true"
						ng-show="!test2" aria-label="Setleme"> <md-icon
						class="material-icons" role="img" aria-hidden="true">edit</md-icon>
					</md-button>
					<md-button class="md-icon-button md-warn" ng-click="test2=false"
						ng-show="test2" aria-label="Setleme"> <md-icon
						class="material-icons" role="img" aria-hidden="true">edit_off</md-icon>
					</md-button>
				</div>
			</div>
			</md-toolbar>
			<md-card-content>
			<div layout="column" layout-align="start start">
				<div flex="" ng-show="points.wintsplowset">
					<ma-point-value label="NAME" point="points.wintsplowset"
						ng-show="!test2"> </ma-point-value>
					<ma-set-point-value label="NAME" point="points.wintsplowset"
						ng-show="test2"> </ma-set-point-value>
				</div>

				<div flex="" ng-show="points.wintsphighset">
					<ma-point-value label="NAME" point="points.wintsphighset"
						ng-show="!test2"> </ma-point-value>
					<ma-set-point-value label="NAME" point="points.wintsphighset"
						ng-show="test2"> </ma-set-point-value>
				</div>

				<div flex="" ng-show="points.sumsplowset">
					<ma-point-value label="NAME" point="points.sumsplowset"
						ng-show="!test2"> </ma-point-value>
					<ma-set-point-value label="NAME" point="points.sumsplowset"
						ng-show="test2"> </ma-set-point-value>
				</div>

				<div flex="" ng-show="points.sumsphighset">
					<ma-point-value label="NAME" point="points.sumsphighset"
						ng-show="!test2"> </ma-point-value>
					<ma-set-point-value label="NAME" point="points.sumtsphighset"
						ng-show="test2"> </ma-set-point-value>
				</div>

			</div>
			</md-card-content>
		</div>
		</md-card>

	</div>
</div>

<style>
.success-button[disabled] {
	background: green !important;
	color: rgb(255, 255, 255) !important;
	opacity: 0.6 !important;
}

.success-button[disabled] md-icon {
	color: white !important;
}

.red-button[disabled] {
	background: red !important;
	color: rgb(255, 255, 255) !important;
	opacity: 0.6 !important;
}

.red-button[disabled] md-icon {
	color: white !important;
}

.blue-button[disabled] {
	background: blue !important;
	color: rgb(255, 255, 255) !important;
	opacity: 0.6 !important;
}

.blue-button[disabled] md-icon {
	color: white !important;
}

#Bar_vanfanspeed, #Bar_aspfanspeed, #Bar_comp1 {
	transform-box: fill-box;
	transform-origin: center;
	stroke-dasharray: 220;
	transform: rotate(-90deg);
	transition: stroke-dashoffset linear 0.3s;
}

#supplyfanspeed circle:nth-child(3), #outfanspeed circle:nth-child(3),
	#cwvalvepos circle:nth-child(3) {
	stroke-width: 2px;
	opacity: 0.7;
}

/*#returnairarrow {*/
/*    animation: moveUp 2s linear 0s infinite;*/
/*}*/
/*#supplyairarrow {*/
/*    animation: moveDown 2s linear 2s infinite;*/
/*}*/
/*#exhairarrow {*/
/*    animation: moveRight 2s linear 2s infinite;*/
/*}*/
/*#outairarrow {*/
/*    animation: moveRight 2s linear 0s infinite;*/
/*}*/

text[id], g[id]:not(.svg-pan-zoom_viewport) text {
	text-anchor: middle;
}

g[id^=Fan1_], g[id^=Fan2_], g[id^=Tambur_] {
	opacity: 0;
}

g[id=Fan1_1], g[id=Fan2_5], g[id=Tambur_01] {
	opacity: 1;
}

@keyframes fanRotate { 
	0% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	21% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes tamburRotate { 
	0% {
		opacity: 1;
	}
	12.5% {
		opacity: 1;
	}
	13% {
		opacity: 0;
	}
	100% {
		opacity:0;
	}
}
</style>